[user]
	name = Malte Klemke
	email = git@malde.me
[core]
	autocrlf = input
	safecrlf = false
	excludesfile = /Users/malte/.gitignore_global
	editor = vi 
	trustctime = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
[help]
	autocorrect = 1
[alias]
	ll = log --pretty=format:'%Cred%h%C(yellow)%d %Creset%s %Cgreen(%cr) %C(bold blue) <%cn>' --decorate --numstat
	ls = log --pretty=format:'%Cred%h%C(yellow)%d -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --graph --all
	standup = log --since yesterday --author 'Malte Klemke' --pretty=short
	st = status -sb
	ignored = ls-files --others --i --exclude-standard
	co = checkout
	cm = commit
	ready = rebase -i @{u}
	fe = fetch -v
        undo = reset HEAD~1 --mixed
	purr = pull --rebase
	cdiff = diff --color-words
	wdiff = diff --word-diff
        unpushed = log --stat origin/master..HEAD
[push]
	default = simple
[credential]
	helper = osxkeychain
[branch]
	autosetuprebase = always
[mergetool]
	keepBackup = true
[http "https://git.my-monday-consulting.com"]
	sslCert = Malte Klemke
[pull]
	rebase = true
